@using WebUI.Helpers;

<script src="~/Scripts/Views/airports.js"></script>
<script src="~/Scripts/Views/vAirport.js"></script>


<script src="https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js"></script>
<script src="~/Scripts/Views/Mapa.js"></script>

<link href="https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css" rel="stylesheet" />
<link href="~/Content/Map.css" rel="stylesheet" />

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>


@{
    Layout = "~/Views/Shared/_LayoutTheme.cshtml";
}

<div class="card border-left-primary shadow h-100">
    <div class="card-header flex-row">
        <div class="row">
            <div class="col-md-8">Step #1: Information of the airport</div>
            <div class="col-md-4">
                @Html.CtrlButton(viewName: "vAirport", id: "btnCreate", label: "Create", onClickFunction: "Create", buttonType: "success")
                @Html.CtrlButton(viewName: "vAirport", id: "btnUpdate", label: "Update", onClickFunction: "Update", buttonType: "success")
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="bs-component">
                    <form id="frmEdition">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.CtrlInput(id: "txtLegalNumber", type: "text", label: "Legal number", columnDataName: "LegalNumber")
                                @Html.CtrlInput(id: "txtNameAirport", type: "text", label: "Airport name", columnDataName: "NameAirport")
                                @Html.CtrlInput(id: "txtBusinessName", type: "text", label: "Business name", columnDataName: "BusinessName")
                                @Html.CtrlInput(id: "txtAdministrator", type: "text", label: "Administrator id", columnDataName: "Administrator")
                            </div>

                            <div class="col-md-6">
                                @Html.CtrlInput(id: "txtEmail", type: "text", label: "Email", columnDataName: "Email")
                                @Html.CtrlInput(id: "txtRepresentative", type: "text", label: "Representative", columnDataName: "Representative")
                                @Html.CtrlInput(id: "txtRepresentativeID", type: "number", label: "RepresentativeID", columnDataName: "RepresentativeID")
                            </div>
                            <div hidden>
                                @Html.CtrlInput(id: "txtLatitude", type: "text", label: "Latitude", columnDataName: "Latitude")
                                @Html.CtrlInput(id: "txtLongitude", type: "text", label: "Longitude", columnDataName: "Longitude")
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <h3 class="text-center">Select the location of the airport</h3>
        <div id="map"></div>
    </div>
</div>

