@using WebUI.Helpers;

<script src="~/Scripts/Views/ControlActions.js"></script>
<script src="~/Scripts/Views/vAirportAdmin.js"></script>
<script src="~/Scripts/Views/vPassword.js"></script>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>

@{
    Layout = "~/Views/Shared/_LayoutTheme.cshtml";
}


<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Adding a new administrator of airport</h1>
    <div class="btn-block-custom container-spinner-button button-create-spinner">
        @Html.CtrlButton(viewName: "vAirportAdmin", id: "btnCreate", label: "Register", onClickFunction: "Create", buttonType: "success")
        <div class="justify-content-center container-spinner d-none" id="container-spinner">
            <div class="spinner-border text-light" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>

<div class="card border-left-primary shadow h-100">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="bs-component">
                    <form id="frmEdition">
                        <div class="form-group row">
                            <div class="col-sm-6 mb-6 mb-sm-0">
                                @Html.CtrlInput(id: "txtID", type: "text", label: "Identification number", columnDataName: "ID")
                            </div>
                            <div class="col-sm-6 mb-6 mb-sm-0">
                                @Html.CtrlInput(id: "txtFirstName", type: "text", label: "First Name", columnDataName: "FirstName")
                            </div>
                            <div class="col-sm-6 mb-6 mb-sm-0">
                                @Html.CtrlInput(id: "txtSecondName", type: "text", label: "Second Name", columnDataName: "SecondName")
                            </div>
                            <div class="col-sm-6 mb-6 mb-sm-0">
                                @Html.CtrlInput(id: "txtLastName1", type: "text", label: "Last Name", columnDataName: "LastName1")
                            </div>
                            <div class="col-sm-6 mb-6 mb-sm-0">
                                @Html.CtrlInput(id: "txtLastName2", type: "text", label: "Second Last Name", columnDataName: "LastName2")
                            </div>
                            <div class="col-sm-6 mb-6 mb-sm-0">
                                @Html.CtrlInput(id: "txtEmail", type: "text", label: "Email", columnDataName: "Email")
                            </div>
                            <div class="col-sm-6 mb-6 mb-sm-0">
                                @Html.CtrlInput(id: "txtBirthDate", type: "date", label: "Birthdate", columnDataName: "BirthDate")
                            </div>
                            <div class="col-sm-6 mb-6 mb-sm-0">
                                @Html.CtrlInput(id: "txtPhoneNumber", type: "text", label: "Phone Number", columnDataName: "PhoneNumber")
                            </div>
                            <div class="col-sm-6 mb-6 mb-sm-0">
                                @Html.CtrlInput(id: "txtPassword", type: "password", label: "Password", columnDataName: "Password")
                            </div>
                            <div class="col-sm-6 mb-6 mb-sm-0">
                                @Html.CtrlInput(id: "txtConfirmPass", type: "password", label: "Confirm Password", columnDataName: "Confirm")
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
