@using WebUI.Helpers;

<script src="~/Scripts/Views/vSeat.js"></script>
<script src="~/Scripts/Controllers/cSeat.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>


@{
    Layout = "~/Views/Shared/_LayoutTheme.cshtml";
}

<div class="card border-left-primary shadow h-100">
    <div class="card-header flex-row">
        <div class="row">
            <div class="col-md-8">Step #1: Information of the seat</div>
            <div class="col-md-4">
                @Html.CtrlButton(viewName: "vSeat", id: "btnCreate", label: "Create", onClickFunction: "Create", buttonType: "success")
                @Html.CtrlButton(viewName: "cSeat", id: "btnUpdate", label: "Update", onClickFunction: "Update", buttonType: "success")
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="bs-component">
                    <form id="frmEdition">
                        <div class="row">
                            <div class="col-md-6">
                                @Html.CtrlInput(id: "txtSeatNumber", type: "text", label: "Seat number", columnDataName: "SeatNumber")
                                @Html.CtrlInput(id: "txtFlyNumber", type: "number", label: "Fly number", columnDataName: "FlyNumber")
                            </div>

                            <div class="col-md-6">
                                <label for="sltSeatClass">Seat Class</label>
                                <select id="sltSeatClass" class="form-control">
                                    <option value="">Select the seat class</option>
                                    <option value="FirstClass">First class</option>
                                    <option value="BusinessClass">Business class</option>
                                    <option value="EconomicClass">Economic class</option>
                                </select>

                                <div id="divStatus">
                                    <label for="sltStatus">Status</label>
                                    <select id="sltStatus" class="form-control">
                                        <option value="">Select the status</option>
                                        <option value="Disponible">Disponible</option>
                                        <option value="Ocupado">Ocupado</option>
                                    </select>
                                </div>


                                <div hidden>
                                    @Html.CtrlInput(id: "txtSeatClass", type: "text", label: "Seat Class", columnDataName: "SeatClass")
                                    @Html.CtrlInput(id: "txtStatus", type: "text", label: "Status", columnDataName: "Status")
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

