@using WebUI.Helpers;

<script src="~/Scripts/Views/vAirline.js"></script>

@{
    Layout = "~/Views/Shared/_LayoutTheme.cshtml";
}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Modify Airline</h1>
    <div class="btn-block-custom container-spinner-button button-create-spinner">
        @Html.CtrlButton(viewName: "vAirline", id: "btnModifyAirline", label: "Update", onClickFunction: "ModifyAirline", buttonType: "success")
        <div class="justify-content-center container-spinner d-none" id="container-spinner">
            <div class="spinner-border text-light" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="card border-left-primary shadow h-100"  id="cardAirline">
        <div class="card-body">
            <div class="row">
                <div class="col-lg-12">
                    <div class="bs-component">
                        <form id="formModifyAirline">
                            <div class="row">
                                <div class="col-md-6">
                                    @Html.CtrlInput(id: "txtID", type: "text", label: "ID", columnDataName: "ID")
                                    @Html.CtrlInput(id: "txtName", type: "text", label: "Name", columnDataName: "Name")
                                    @Html.CtrlInput(id: "txtBusinessName", type: "text", label: "Business Name", columnDataName: "BusinessName")
                                    @Html.CtrlInput(id: "txtAdmin", type: "text", label: "Administrator", columnDataName: "Admin")
                                </div>
                                <div class="col-md-6">
                                    @Html.CtrlInput(id: "txtEmail", type: "text", label: "Email", columnDataName: "Email")
                                    @Html.CtrlInput(id: "txtPhoneNumber", type: "text", label: "Phone Number", columnDataName: "PhoneNumber")
                                    @Html.CtrlInput(id: "txtRepresentantLegal", type: "text", label: "Representant Legal", columnDataName: "RepresentantLegal")
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>