@{
    ViewBag.Title = "VRole";
    Layout = "~/Views/Shared/_LayoutTheme.cshtml";
}
<script>
    $(document).ready(function () {

        const vRol = new VRole();
        vRol.BindFields();
    });
</script>
<script src="~/Scripts/Views/BaseClass.js"></script>
<script src="~/Scripts/Views/VRole.js"></script>

<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Modify Rol</h1>
    <div class="btn-block-custom container-spinner-button button-create-spinner">
        @Html.CtrlButton("VRole", "btnUpdate", "Save", "Update", "success")
        <div class="justify-content-center container-spinner d-none" id="container-spinner">
            <div class="spinner-border text-light" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    </div>
</div>

<div class="card border-left-primary shadow h-100">
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="bs-component">
                    <form id="frmRole">
                        <div class="row">
                            <div class="col-md-6">
                                <span style="display: none">
                                    @Html.CtrlInput("ID", "text", "ID", columnDataName: "Id")
                                </span>
                                @Html.CtrlInput("Name", "text", "View name", columnDataName: "Name")
                                @Html.CtrlInput("Status", "checkbox", "Status", columnDataName: "Status")
                            </div>
                            <div class="col-md-6">
                                @Html.CtrlInput("Description", "textarea", "Descripion", columnDataName: "Description")
                            </div>
                        </div>
                        @*@Html.CtrlDropDown(id: "drpGender", label: "Gender", listId: "LST_GENERO")*@
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
