@{
    ViewBag.Title = "VRole";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    $(document).ready(function () {

        const vRol = new VRole();
        vRol.RetrieveAll();
        vRol.DataBind();
    });
</script>
<script src="~/Scripts/Views/BaseClass.js"></script>
<script src="~/Scripts/Views/VRole.js"></script>

<h2>Modificar Rol</h2>


@Html.CtrlTable(viewName: "VRole", id: "tblRole", title: "User List",
    columnsTitle: "Nombre,Descripcion", ColumnsDataName: "Name,Description", onSelectFunction: "BindFields" )



<div class="card border-secondary" style="margin-top: 50px;">
    <div class="card-header">
        <div class="row pull-left">
            <div class="col-md-12"></div>
            <div class="col-md-4">
                @Html.CtrlButton("VRole", "btnUpdate", "Save", "Update", "success")
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-12">
                <div class="bs-component">
                    <form id="frmRole">
                        <div class="row">
                            <div class="col-md-6">
                                <span style="display: none">
                                    @Html.CtrlInput("ID", "text", "ID", columnDataName: "Id")
                                </span>
                                @Html.CtrlInput("Name", "text", "View name", columnDataName: "Name")
                                @Html.CtrlInput("Status", "checkbox", "Status", columnDataName: "Status")
                            </div>
                            <div class="col-md-6">
                                @Html.CtrlInput("Description", "textarea", "Descripion", columnDataName: "Description")
                            </div>
                        </div>
                        @*@Html.CtrlDropDown(id: "drpGender", label: "Gender", listId: "LST_GENERO")*@
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
